@import "../../styles/mixins";

.rivals-widget {
    position: relative;

    &__loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--body-background-color);
        opacity: 0.8;

        &--hidden {
            display: none;
        }
    }

    &__selection {
        display: flex;
        padding: 0.5rem;
        border-bottom: 1px solid var(--widget-separator-color);

        .modal-input {
            flex-grow: 1;
            margin-right: 0.5rem;
        }
    }

    &__rivals {
        display: flex;
        padding: 0.5rem;
        border-bottom: 1px solid var(--widget-separator-color);

        .button + .button {
            margin-left: 1rem;
        }
    }

    &__metric {
        padding: 0.5rem;
        border-bottom: 1px solid var(--widget-separator-color);
    }

    &__chart {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        overflow: hidden;
    }
}
