@import "../../styles/mixins";

$bench-end-color: #e5e5e5;

.tots-widget {
    background-color: $bench-end-color;
}

.tots {
    padding-top: 3rem;
    background-image: repeating-radial-gradient(circle at 50% 100%, #00ae55, #00ae55 10%, #01ba5c 10%, #01ba5c 20%);
    overflow: hidden;

    &__row {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        &--bench {
            padding: 1.5rem 0;
            margin-top: 3rem;
            margin-bottom: 0;
            background-image: linear-gradient($bench-end-color 0%, #fff 40%, #ebebe6 40%, $bench-end-color 100%);

            @include up-to("M") {
                margin-top: 1.5rem;
            }
        }

        @include up-to("M") {
            margin-bottom: 0.75rem;

            &--bench {
                margin-bottom: 0;
                padding: 0.75rem;
            }
        }
    }

    @include up-to("M") {
        padding-top: 1.5rem;
    }
}
