.tots {
    padding-top: 1.5rem;
    background-image: repeating-radial-gradient(circle at 50% 100%, #00AE55, #00AE55 10%, #01ba5c 10%, #01ba5c 20%);

    &__row {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        &--bench {
            padding: 0.75rem 0;
            margin-bottom: 0;
            background-image: linear-gradient(rgb(229, 229, 229) 0%, rgb(255, 255, 255) 40%, rgb(235, 235, 230) 40%, rgb(229, 229, 229) 100%)
        }

        .tots-player {
            margin: 0 0.5rem;
        }
    }
}