@import "../../styles/variables";

.widget-with-modal {
    display: flex;
    flex-direction: column;

    .widget__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .widget__list {
        flex-grow: 1;
    }

    .button {
        align-self: center;
        margin: 0 0.5rem 0.5rem;
    }
}

.modal--list-widget {
    .widget {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 101;
        height: 80vh;
        width: 40rem;
        max-width: 80vw;
        overflow: hidden;

        &__content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        &__scroller {
            border-top: 1px solid var(--widget-separator-color);
            overflow: auto;
        }

        &::after {
            content: none;
        }

        .button {
            align-self: center;
        }
    }

    .modal-input {
        margin: 0.5rem;
    }
}
