@import "../../styles/mixins";

.tots-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    max-width: 8rem;
    width: 100%;
    margin: 0 1rem;

    &__shirt {
        height: 5rem;
        margin-bottom: 0.5rem;

        @include up-to("M") {
            height: 3rem;
        }
    }

    &__detail {
        width: 100%;
    }

    &__name {
        max-width: 100%;
        padding: 0 0.25rem;
        color: var(--tots-name-color);
        font-weight: 700;
        font-size: 0.875rem;
        text-align: center;
        background-color: var(--tots-name-background-color);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @include up-to("M") {
            font-size: 0.6rem;
        }
    }

    &__points {
        font-weight: 700;
        font-size: 0.75rem;
        text-align: center;
        color: var(--tots-points-color);
        background-color: var(--tots-points-background-color);
        border-radius: 0 0 3px 3px;

        @include up-to("M") {
            font-size: 0.6rem;
        }
    }

    @include up-to("M") {
        width: 3.25rem;
        margin: 0 0.25rem;
    }
}
