@import "./variables";

$widget-bar-start-color: #ebeb4c;
$widget-bar-end-color: #eb814c;

/* stylelint-disable */

@function _mq($name) {
    @if map-has-key($media-queries, $name) {
        @return map-get($media-queries, $name);
    } @else {
        @warn 'No media query called `#{$name}` could be found.';
    }
}

/* stylelint-enable */

@mixin at-least($point) {
    @media (min-width: _mq($point)) {
        @content;
    }
}

@mixin up-to($point) {
    @media (max-width: _mq($point) - 0.05em) {
        @content;
    }
}

@mixin widget-bar() {
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0.5rem;
        right: 0.5rem;
        height: 0.625rem;
        background: rgba(#000, 0) linear-gradient(to right, $widget-bar-start-color, $widget-bar-end-color) repeat
            scroll 0% 0%;
        border-radius: 0 0 $border-radius $border-radius;
    }
}
