$media-queries: (
    "S": 30em,
    "M": 45em,
    "L": 60em,
    "XL": 70em,
);

$brand-color: #364f6b;
$link-color: #eb2f00;
$muted-color: #61605c;

$light-grey: #efefef;

$border-radius: 0.25rem;
