$media-queries: (
    "S": 30em,
    "M": 45em,
    "L": 60em,
    "XL": 70em,
);

$themes: (
    light: (
        link-color: hsl(12, 100%, 46%),
        muted-color: hsl(48, 3%, 37%),
        widget-color: hsl(0, 0%, 18%),
        widget-background-color: hsl(0, 0%, 100%),
        widget-separator-color: hsl(0, 0%, 94%),
        widget-header-color: hsl(0, 0%, 18%),
        widget-header-background-color: hsl(0, 0%, 94%),
        widget-header-border-color: darken(hsl(0, 0%, 94%), 10%),
        button-color: hsl(0, 0%, 100%),
        button-background-color: hsl(212, 33%, 32%),
        checkbox-active-color: hsl(12, 100%, 46%),
        checkbox-background-color: hsl(0, 0%, 100%),
        checkbox-border-color: darken(hsl(0, 0%, 94%), 10%),
        modal-backdrop-color: rgba(#000, 0.8),
        modal-background-color: hsl(0, 0%, 100%),
        modal-separator-color: hsl(0, 0%, 94%),
        modal-header-color: hsl(0, 0%, 18%),
        modal-header-background-color: hsl(0, 0%, 94%),
        player-color: hsl(0, 0%, 18%),
        player-background-color: hsl(0, 0%, 100%),
        spinner-color: hsl(0, 0%, 100%),
        body-color: hsl(0, 0%, 18%),
        body-background-color: hsl(212, 33%, 32%),
        headline-color: hsl(0, 0%, 100%),
        tots-backdrop-color-a: hsl(149, 100%, 34%),
        tots-backdrop-color-b: hsl(150, 99%, 37%),
        tots-bench-background-color: hsl(0, 0%, 90%),
        tots-name-color: hsl(0, 0%, 100%),
        tots-name-background-color: hsl(150, 100%, 22%),
        tots-points-color: hsl(0, 0%, 18%),
        tots-points-background-color: hsl(152, 100%, 50%),
        dashboard-selected-color: hsl(0, 0%, 90%),
        dashboard-benched-color: hsl(51, 96%, 67%),
        dashboard-started-color: hsl(150, 100%, 22%),
        dashboard-triple-color: hsl(152, 100%, 50%),
        dashboard-captain-color: hsl(120, 42%, 58%),
        dashboard-meta-color: hsl(0, 0%, 100%),
        dashboard-legend-color: hsl(0, 0%, 18%),
        dashboard-legend-background-color: hsl(0, 0%, 100%),
        dashboard-legal-color: hsl(0, 0%, 100%),
        player-overview-total-shadow-start-color: rgba(#000, 0.05),
        player-overview-total-shadow-end-color: rgba(#000, 0),
        player-overview-category-color: hsl(0, 0%, 18%),
        player-overview-category-background-color: #f0f0f0,
        widget-bar-start-color: hsl(60, 80%, 61%),
        widget-bar-end-color: hsl(20, 80%, 61%),
        input-border-color: hsl(48, 3%, 37%),
        input-color: hsl(0, 0%, 18%),
        input-background-color: hsl(0, 0%, 100%),
        input-placeholder-color: hsl(48, 3%, 67%),
        graph-tick-color: hsl(0, 0%, 18%),
        graph-tooltip-color: hsl(0, 0%, 18%),
        autocomplete-color: hsl(0, 0%, 18%),
        slider-area-background-color: hsl(212, 18%, 62%),
        slider-area-shadow-color-a: hsla(212, 23%, 42%, 0.7),
        slider-area-shadow-color-b: hsla(212, 23%, 32%, 0.25),
        slider-track-background-color: hsl(0, 0%, 90%),
        slider-thumb-color: hsl(0, 0, 100%),
        slider-thumb-background-color: hsl(12, 100%, 46%),
        slider-thumb-shadow-color: hsla(10, 0%, 10%, 0.2),
        change-positive-color: hsl(0, 0%, 100%),
        change-positive-background-color: hsl(120, 80%, 32.2%),
        change-negative-color: hsl(0, 0%, 100%),
        change-negative-background-color: hsl(0, 70%, 45%),
    ),
    dark: (
        link-color: hsl(183, 70%, 35%),
        muted-color: hsl(0, 22%, 90%),
        widget-color: hsl(200, 39%, 91%),
        widget-background-color: #3a4556,
        widget-separator-color: #2e3949,
        widget-header-color: hsl(200, 39%, 91%),
        widget-header-background-color: hsl(215, 20%, 33%),
        widget-header-border-color: hsl(215, 23%, 18%),
        button-color: hsl(213, 52%, 15%),
        button-background-color: hsl(200, 14%, 66%),
        checkbox-active-color: hsl(12, 100%, 46%),
        checkbox-background-color: hsl(200, 10%, 80%),
        checkbox-border-color: darken(hsl(0, 0%, 94%), 10%),
        modal-backdrop-color: rgba(#000, 0.8),
        modal-color: hsl(200, 39%, 91%),
        modal-background-color: hsl(216, 19%, 28%),
        modal-separator-color: hsl(216, 23%, 23%),
        modal-header-color: hsl(200, 39%, 91%),
        modal-header-background-color: hsl(215, 20%, 33%),
        player-color: hsl(200, 39%, 91%),
        player-background-color: hsl(216, 19%, 28%),
        spinner-color: hsl(200, 39%, 91%),
        body-color: hsl(200, 39%, 91%),
        body-background-color: hsl(213, 32%, 12%),
        headline-color: hsl(0, 0%, 100%),
        tots-backdrop-color-a: hsl(149, 90%, 24%),
        tots-backdrop-color-b: hsl(150, 89%, 27%),
        tots-bench-background-color: #303846,
        tots-name-color: hsl(200, 39%, 91%),
        tots-name-background-color: hsl(150, 100%, 12%),
        tots-points-color: hsl(0, 0%, 18%),
        tots-points-background-color: hsl(152, 100%, 40%),
        dashboard-selected-color: hsl(216, 19%, 38%),
        dashboard-benched-color: hsl(56, 86%, 47%),
        dashboard-started-color: hsl(150, 75%, 26%),
        dashboard-triple-color: hsl(152, 100%, 45%),
        dashboard-captain-color: hsl(120, 42%, 48%),
        dashboard-meta-color: hsl(0, 0%, 100%),
        dashboard-legend-color: hsl(200, 39%, 91%),
        dashboard-legend-background-color: #3a4556,
        dashboard-legal-color: hsl(0, 0%, 100%),
        player-overview-total-shadow-start-color: rgba(#000, 0.2),
        player-overview-total-shadow-end-color: rgba(#000, 0),
        player-overview-category-color: hsl(200, 39%, 91%),
        player-overview-category-background-color: hsl(216, 19%, 25%),
        widget-bar-start-color: hsl(60, 70%, 41%),
        widget-bar-end-color: hsl(20, 70%, 45%),
        input-color: hsl(0, 0%, 100%),
        input-border-color: hsl(0, 22%, 90%),
        input-background-color: hsl(216, 19%, 28%),
        input-placeholder-color: hsl(0, 22%, 95%),
        graph-tick-color: hsl(200, 39%, 91%),
        graph-tooltip-color: hsl(0, 0%, 18%),
        autocomplete-color: hsl(0, 0%, 18%),
        slider-area-background-color: hsl(213, 32%, 22%),
        slider-area-shadow-color-a: hsla(212, 15%, 15%, 0.7),
        slider-area-shadow-color-b: hsla(212, 15%, 7%, 0.25),
        slider-track-background-color: hsl(180, 10%, 60%),
        slider-thumb-color: hsl(200, 34%, 95%),
        slider-thumb-background-color: hsl(183, 70%, 35%),
        slider-thumb-shadow-color: hsla(183, 50%, 15%, 0.8),
        change-positive-color: hsl(0, 0%, 100%),
        change-positive-background-color: hsl(120, 80%, 32.2%),
        change-negative-color: hsl(0, 0%, 100%),
        change-negative-background-color: hsl(0, 70%, 45%),
    ),
);

$border-radius: 0.25rem;
