$media-queries: (
    "S": 30em,
    "M": 45em,
    "L": 60em,
    "XL": 70em,
);

$brand-color: #37003c;
$link-color: #e90052;
$muted-color: #61605c;

$light-grey: #efefef;

$widget-bar-start-color: #ebff00;
$widget-bar-end-color: #00ff87;
