@import "../../styles/mixins";

.widget {
    @include widget-bar();

    position: relative;
    margin-bottom: 2.125rem;
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-radius: $border-radius;

    &--cloaked::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--widget-background-color);
        z-index: 10;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            border-bottom: 1px solid var(--widget-separator-color);

            > :last-child:not(:only-child) {
                @include at-least("M") {
                    text-align: right;
                }
            }

            .player {
                margin: -0.5rem 0 -0.5rem -0.5rem;

                &--condensed {
                    margin-left: 0;
                }
            }

            &:last-child {
                border-bottom: 0;
            }

            @include up-to("M") {
                flex-direction: column;
                align-items: center;
                text-align: center;

                .player {
                    margin: 0 0 0.25rem;
                    padding: 0;

                    &--condensed {
                        flex-direction: row;
                    }
                }

                .player__detail {
                    margin-right: 0;
                    margin-left: 0.5rem;
                }
            }
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        margin: 0;
        color: var(--widget-header-color);
        background-color: var(--widget-header-background-color);
        border-bottom: 1px solid var(--widget-header-border-color);
        border-radius: $border-radius $border-radius 0 0;

        .widget & .button {
            align-self: center;
            width: auto;
        }

        @include up-to("M") {
            text-align: center;
        }
    }

    &__content {
        position: relative;
    }

    &__empty {
        padding: 0.5rem;
        color: var(--muted-color);

        @include up-to("M") {
            text-align: center;
        }
    }
}
