.stat-comparison {
    display: flex;

    &__left,
    &__right,
    &__label {
        width: 100%;
        text-align: center;

        &--highlight {
            font-weight: bold;
        }
    }

    &__label {
        text-align: left;
    }
}
