.stat-comparison {
    display: flex;

    &__left,
    &__right,
    &__label {
        width: 100%;
        text-align: center;

        &--highlight {
            span {
                padding: 0 0.5rem;
                font-weight: 700;
                color: var(--change-positive-color);
                background-color: var(--change-positive-background-color);
                border-radius: 0.25rem;
            }
        }
    }

    &__label {
        text-align: left;
    }
}
