@import "../../styles/variables";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    color: var(--modal-color);
    background-color: var(--modal-backdrop-color);

    &__backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

    &__element {
        position: relative;
        z-index: 101;
        width: 30rem;
        background-color: var(--modal-background-color);
        border-radius: $border-radius;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        margin: 0;
        color: var(--modal-header-color);
        font-weight: 700;
        background-color: var(--modal-header-background-color);
        border-radius: $border-radius $border-radius 0 0;

        .modal & .button {
            align-self: center;
            width: auto;
        }
    }

    &__body {
        padding: 1rem;
    }

    &__footer {
        padding: 1rem;
        border-top: 1px solid var(--modal-separator-color);
    }

    &__input-wrapper {
        position: relative;
        padding-top: 0.25rem;

        label {
            position: absolute;
            top: 0.25rem;
            left: 0.5rem;
            padding: 0 0.5rem;
            font-size: 0.75rem;
            background-color: var(--modal-background-color);
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font: inherit;
        background-color: var(--input-background-color);
        border: 1px solid var(--input-border-color);
        cursor: pointer;

        &:focus {
            cursor: text;
        }

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }

        &::-moz-placeholder {
            color: var(--input-placeholder-color);
        }

        &:-ms-input-placeholder {
            color: var(--input-placeholder-color);
        }

        &:-moz-placeholder {
            color: var(--input-placeholder-color);
        }
    }

    .button {
        display: block;
        width: 100%;
    }
}
