@import "../../styles/variables";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(#000, 0.8);

    &__backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

    &__element {
        position: relative;
        z-index: 101;
        width: 30rem;
        background-color: #fff;
    }

    &__header {
        padding: 1rem;
        background-color: $brand-color;
        color: #fff;
        font-weight: 400;
    }

    &__body {
        padding: 1rem;
    }

    &__footer {
        padding: 0 1rem 1rem;
    }

    &__input-wrapper {
        position: relative;
        padding-top: 0.25rem;

        label {
            position: absolute;
            top: 0.25rem;
            left: 0.5rem;
            padding: 0 0.5rem;
            font-size: 0.75rem;
            background-color: #fff;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font: inherit;
        border: 1px solid $muted-color;
        cursor: pointer;

        &:focus {
            cursor: text;
        }
    }

    .button {
        display: block;
        width: 100%;
    }
}
