@import "../../styles/mixins";

.dashboard {
    position: relative;
    max-width: 100rem;
    min-height: 20rem;
    margin: 0 auto 1.5rem;
    background-color: #fff;

    &--cloaked::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 5;
    }

    &__container {
        overflow: auto;
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 2;
        display: flex;
        border-bottom: 1px solid rgb(239, 239, 239);

        .dashboard__stat {
            font-weight: bold;

            @include up-to("M") {
                display: none;
            }
        }

        .dashboard__totals .dashboard__stat {
            width: 8rem;
            cursor: pointer;
        }

        @include at-least("M") {
            width: max-content;
        }
    }

    &__list {
        width: max-content;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        @include up-to("M") {
            width: 100%;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: max-content;
        border-bottom: 1px solid rgb(239, 239, 239);

        &:last-child {
            border-bottom: 0;
        }

        @include up-to("M") {
            flex-wrap: wrap;
            width: 100%;

            .dashboard__player,
            .player {
                width: 100%;
            }
        }
    }

    &__stats {
        display: flex;

        @include up-to("M") {
            width: 100%;
        }
    }

    &__stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 4rem;
        width: 4rem;
        background-color: #E7E7E5;
        border-right: 1px solid rgb(239, 239, 239);

        &--benched {
            background-color: #FCE45A;
        }

        &--started {
            background-color: rgba(0, 111, 55, 0.9);
        }

        &--triple {
            background-color: #00ff87;
        }

        &:last-child {
            border-right: 0;
        }

        @include up-to("M") {
            flex: 1;
            width: auto;
        }
    }

    &__totals {
        position: sticky;
        right: 0;
        display: flex;

        .dashboard__stat {
            width: 4rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 100%;
            width: 0.5rem;
            background-image: linear-gradient(to left, rgba(#000, 0.05), rgba(#000, 0));
        }

        @include up-to("M") {
            width: 100%;
            border-top: 1px solid rgb(239, 239, 239);

            .dashboard__stat {
                flex-direction: row;
                width: 33.333%;
                height: 2rem;
                font-size: 0.75rem;

                &:nth-child(even) {
                    display: none;
                }

                &:nth-child(odd)::after {
                    margin-left: 0.25rem;
                }

                &:nth-child(1)::after {
                    content: "Selected";
                }

                &:nth-child(3)::after {
                    content: "Started";
                }

                &:nth-child(5)::after {
                    content: "Benched";
                }
            }
        }
    }

    &__heading {
        position: sticky;
        left: 0;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 12rem;
        padding: 0.5rem;
        font-weight: bold;
        background-color: #fff;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 0.5rem;
            background-image: linear-gradient(to right, rgba(#000, 0.05), rgba(#000, 0));
        }

        @include up-to("M") {
            width: 100%;
            height: 4rem;

            &::after {
                content: none;
            }
        }
    }

    &__category {
        position: sticky;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        // Sass does not recognise the native CSS min function, thus requiring
        // this hack.
        width: m#{i}n(100rem, calc(100vw - 3rem));
        padding: 0.5rem;
        font-weight: bold;
        background-color: #EFEFEF;
    }

    &__player {
        position: sticky;
        left: 0;

        @include at-least("M") {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                width: 0.5rem;
                background-image: linear-gradient(to right, rgba(#000, 0.05), rgba(#000, 0));
            }
        }
    }

    &__widgets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100rem;
        margin: 0 auto;
        background-color: #37003C;

        .widget {
            width: calc(33.333% - 1rem);

            @include up-to("L") {
                width: calc(50% - 0.75rem);
            }

            @include up-to("M") {
                width: 100%;
            }
        }
    }

    &__loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        .spinner__item {
            background-color: #333;
        }
    }

    &__graphs {
        max-width: 100rem;
        margin: 0 auto;

        .widget__content {
            padding: 1.5rem 1.5rem 1rem 0;
        }
    }
}

.app {
    position: relative;

    &__loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #37003C;
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.25s ease-in-out;

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__footer {
        position: sticky;
        bottom: 0;
        left: 0;
        z-index: 15;
        padding: 1.5rem;
        margin: 0 -1.5rem;
        background-color: #fff;
        box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.15);

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100rem;
            margin: 0 auto;

            @include up-to("M") {
                flex-direction: column;
                align-items: flex-start;

                .button {
                    width: 100%;
                }

                .checkbox {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        max-width: 100rem;
        margin: 0 auto 1.5rem;

        &__label {
            display: block;
            flex-shrink: 0;
            color: #fff;
            margin-right: 1rem;
        }
    }

    &__legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 100rem;
        margin: 0 auto 1.5rem;
        font-size: 0.75rem;

        @include up-to("M") {
            justify-content: center;
        }
    }

    &__color {
        display: flex;
        color: #fff;

        &__indicator {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
            background-color: #E7E7E5;

            &--benched {
                background-color: #FCE45A;
            }

            &--started {
                background-color: rgba(0, 111, 55, 0.9);
            }

            &--triple {
                background-color: #00ff87;
            }
        }

        + .app__color {
            margin-left: 1rem;
        }
    }

    &__legal {
        max-width: 100rem;
        margin: 0 auto 1.5rem;
        color: #fff;
        font-size: 0.75rem;
        line-height: 2;
        text-align: center;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.chart {
    .recharts-yAxis .recharts-cartesian-axis-tick:first-child text {
        font-size: 0;
    }

    &--reversed {
        .recharts-yAxis .recharts-cartesian-axis-tick:first-child text {
            font-size: inherit;
        }

        .recharts-yAxis .recharts-cartesian-axis-tick:last-child text {
            font-size: 0;
        }
    }
}