@import "../../styles/variables";
@import "../../styles/mixins";

.dashboard {
    position: relative;

    &__content {
        @supports (padding: m#{a}x(0px)) {
            padding-left: m#{a}x(0px, env(safe-area-inset-left));
            padding-right: m#{a}x(0px, env(safe-area-inset-right));
        }
    }

    &__loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--body-background-color);
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.25s ease-in-out;

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        max-width: 100rem;
        margin: 0 auto 1.5rem;
        color: var(--autocomplete-color);

        &__label {
            display: block;
            flex-shrink: 0;
            color: var(--dashboard-meta-color);
            margin-right: 1rem;
        }

        @include up-to("M") {
            flex-flow: wrap;
        }
    }

    &__legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        align-self: stretch;
        max-width: 100rem;
        padding: 0.5rem 1rem;
        margin-left: 1.5rem;
        color: var(--dashboard-legend-color);
        font-size: 0.75rem;
        background-color: var(--dashboard-legend-background-color);
        border-radius: $border-radius;

        @include up-to("M") {
            width: 100%;
            margin-top: 1.5rem;
            margin-left: 0;
            justify-content: center;
        }
    }

    &__color {
        display: flex;
        align-items: center;

        &__indicator {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
            background-color: var(--dashboard-selected-color);

            &--benched {
                background-color: var(--dashboard-benched-color);
            }

            &--started {
                background-color: var(--dashboard-started-color);
            }

            &--triple {
                background-color: var(--dashboard-triple-color);
            }

            &--captain {
                background-color: var(--dashboard-captain-color);
            }
        }

        + .dashboard__color {
            margin-left: 1rem;
        }
    }

    &__legal {
        max-width: 100rem;
        margin: 0 auto 1.5rem;
        color: var(--dashboard-legal-color);
        font-size: 0.75rem;
        line-height: 2;
        text-align: center;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__widgets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100rem;
        margin: 0 auto;
        background-color: var(--body-background-color);

        &::after {
            content: "";
            width: calc(33.333% - 1rem);

            @include up-to("L") {
                width: calc(50% - 0.75rem);
            }

            @include up-to("M") {
                width: 100%;
            }
        }

        .widget {
            width: calc(33.333% - 1rem);

            @include up-to("L") {
                width: calc(50% - 0.75rem);
            }

            @include up-to("M") {
                width: 100%;
            }
        }

        &--single {
            .widget {
                width: 100%;

                @include up-to("L") {
                    width: 100%;
                }

                @include up-to("M") {
                    width: 100%;
                }
            }
        }

        &--split {
            .widget {
                &:first-child {
                    width: calc(66.666% - 0.5rem);

                    @include up-to("L") {
                        width: 100%;
                    }
                }

                &:last-child {
                    @include up-to("L") {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__graphs {
        max-width: 100rem;
        margin: 0 auto;

        .widget__content {
            padding: 1.5rem 1.5rem 1rem 0;
        }

        .widget__empty {
            margin: -1.5rem 0;
        }
    }

    &__entry {
        width: 100%;
        max-width: 100rem;
        margin: 0 auto;
        border-bottom: 0;

        .widget {
            width: 100%;

            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 0;
                padding: 1rem;

                @include up-to("M") {
                    flex-direction: column;
                    align-items: stretch;
                }
            }
        }

        .small {
            font-size: 0.5em;
            font-weight: 400;
        }

        .button {
            + button {
                margin-left: 0.5rem;

                @include up-to("M") {
                    margin-top: 0.5rem;
                    margin-left: 0;
                }
            }

            @include up-to("M") {
                width: 100%;
            }
        }
    }

    &__title {
        display: inline-grid;
        margin: 0;

        a {
            display: inline-block;
            margin-bottom: 0.5rem;
            line-height: 1;
        }

        @include up-to("M") {
            margin-bottom: 1rem;
        }
    }

    &__slider-wrapper {
        position: sticky;
        bottom: 0;
        width: calc(100% + 3rem);
        height: 4.5rem;
        padding: 0.75rem 1.5rem;
        margin-left: -1.5rem;
        background-color: var(--slider-area-background-color);
        box-shadow: 0 -3px 3px var(--slider-area-shadow-color-a), 0 -1px 10px var(--slider-area-shadow-color-b);
        z-index: 10;
    }

    &__slider {
        max-width: 100rem;
        height: 3rem;
        margin: 0 auto;

        .track {
            top: 1.25rem;
            height: 0.5rem;
            background: var(--slider-track-background-color);
        }

        .track-0 {
            border-radius: $border-radius 0 0 $border-radius;
        }

        .track-2 {
            border-radius: 0 $border-radius $border-radius 0;
        }

        .thumb {
            top: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 2rem;
            padding: 0 0.5rem;
            color: var(--slider-thumb-color);
            background-color: var(--slider-thumb-background-color);
            border-radius: 1rem;
            cursor: pointer;
            box-shadow: 0 1px 3px var(--slider-thumb-shadow-color);

            &:focus {
                outline: none;
            }

            &-0 {
                transform: translateX(-0.5rem);
            }

            &-1 {
                transform: translateX(0.5rem);
            }
        }
    }
}
