.player {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 12rem;
    padding: 0.5rem;
    background-color: #fff;

    &--condensed {
        width: auto;
        padding: 0.5rem 0;

        .player__detail {
            display: flex;
            justify-content: flex-end;
            width: auto;
            margin-left: 0.5rem;
        }

        .player__position,
        .player__team {
            display: none;
        }

        .player__shirt {
            margin-right: 0;
        }
    }

    &--reversed {
        flex-direction: row-reverse;

        .player__detail {
            margin-left: 0;
            margin-right: 0.5em;
        }
    }

    &__detail {
        width: calc(100% - 2rem);
    }

    &__shirt {
        height: 1.5rem;
        margin-right: 0.5rem;
    }

    &__team {
        margin-right: 0.5rem;
        font-weight: 700;
    }

    &__name {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}