* {
    box-sizing: border-box;
}

body {
    margin: 1.5rem 1.5rem 0;
    font: 400 100%/1.5 "Source Sans Pro", sans-serif;
    background-color: #37003c;
}

ul {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a {
    color: rgb(233, 0, 82);
    text-decoration: none;
    font-weight: 700;
}

h2 {
    position: relative;
    color: #fff;
    max-width: 100rem;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 1.5rem auto;

    span {
        display: inline-block;
        padding-right: 1rem;
        background-color: #37003c;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0;
        left: 0;
        height: 2px;
        background-color: rgba(#fff, 0.5);
    }
}

h3 {
    font-size: 1.7rem;
    line-height: 1.7;
}

.muted {
    color: #61605c;
}

.duration {
    white-space: nowrap;
}
