@import "./styles/variables";

:root {
    @each $key, $value in map-get($themes, "light") {
        --#{$key}: #{$value};
    }
}

[data-theme="dark"] {
    @each $key, $value in map-get($themes, "dark") {
        --#{$key}: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @each $key, $value in map-get($themes, "dark") {
            --#{$key}: #{$value};
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 1.5rem 1.5rem 0;
    font: 400 100%/1.5 "Source Sans Pro", sans-serif;
    color: var(--body-color);
    background-color: var(--body-background-color);
}

ul {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 700;
}

h2 {
    position: relative;
    color: var(--headline-color);
    max-width: 100rem;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 1.5rem auto;

    span {
        display: inline-block;
        padding-right: 1rem;
        background-color: var(--body-background-color);
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0;
        left: 0;
        height: 2px;
        background-color: var(--headline-color);
        opacity: 0.5;
    }
}

h3 {
    font-size: 1.7rem;
    line-height: 1.7;
}

.muted {
    color: var(--muted-color);
}

.duration {
    white-space: nowrap;
}

.recharts-cartesian-axis-tick-value {
    fill: var(--graph-tick-color);
}

.recharts-tooltip-wrapper {
    color: var(--graph-tooltip-color);
}
